.App {
  align-content: center;
  align-items: flex-start;
  background-color: #e9e9e9;
  background-image: url("../public/logo-Boisdron_Nuevo.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  text-align: center;
}

.date__container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2rem auto;
  padding: 1rem 2rem;
}

.date__label {
  margin-right: 2rem;
}

.date__spinner {
  height: 2rem;
  margin: 0 2rem;
  width: 2rem;
}

.data__container {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}

.data__users,
.data__unknown {
  width: 40%;
}

.user-table__user--present {
  background-color: rgb(200, 230, 200);
}

.user-table__user--ausent {
  background-color: rgb(230, 200, 200);
}

.data__unknown--empty {
  padding: 2rem;
}


/* OTHER COMPONENTS */

.modal {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  left: 50%;
  min-height: 5rem;
  min-width: 25rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__input {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.modal__error {
  color: red;
}

.modal__button {
  align-self: flex-end;
  top: 1rem;
  width: 25%;
}